In [4]:
import statsmodels.api as sm
import pandas as pd
import numpy as np

In [3]:
def regress(data, yvar, xvars):
    Y=data[yvar]
    X=data[xvars]
    X['intercept']=1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [5]:
close_px=pd.read_csv('stock_px_2.csv', parse_dates=True, index_col=0)

In [46]:
rets=close_px.pct_change().dropna()

In [47]:
rets

                AAPL      MSFT       XOM       SPX
2003-01-03  0.006757  0.001421  0.000684 -0.000484
2003-01-06  0.000000  0.017975  0.024624  0.022474
2003-01-07 -0.002685  0.019052 -0.033712 -0.006545
2003-01-08 -0.020188 -0.028272 -0.004145 -0.014086
2003-01-09  0.008242  0.029094  0.021159  0.019386
...              ...       ...       ...       ...
2011-10-10  0.051406  0.026286  0.036977  0.034125
2011-10-11  0.029526  0.002227 -0.000131  0.000544
2011-10-12  0.004747 -0.001481  0.011669  0.009795
2011-10-13  0.015515  0.008160 -0.010238 -0.002974
2011-10-14  0.033225  0.003311  0.022784  0.017380

[2213 rows x 4 columns]

In [48]:
get_year=lambda x: x.year

In [49]:
by_year=rets.groupby(get_year)

In [50]:
by_year['AAPL'].describe()

,count,mean,std,min,25%,50%,75%,max
2003,251.0,0.001736,0.023368,-0.080780,-0.011934,0.001524,0.014657,0.114958
2004,252.0,0.004700,0.025457,-0.055372,-0.008986,0.002956,0.015687,0.131288
2005,252.0,0.003490,0.024474,-0.092105,-0.010069,0.003440,0.016910,0.091168
2006,251.0,0.000949,0.024265,-0.063326,-0.014082,-0.001525,0.014302,0.118299
2007,251.0,0.003664,0.023757,-0.070206,-0.008942,0.002558,0.017957,0.105359
2008,253.0,-0.002646,0.036666,-0.179195,-0.023983,-0.001043,0.018687,0.139050
2009,252.0,0.003819,0.021369,-0.050164,-0.008984,0.002112,0.015498,0.067592
2010,252.0,0.001832,0.016856,-0.049599,-0.006217,0.002332,0.011378,0.076868
2011,199.0,0.001487,0.016510,-0.054628,-0.009473,0.001224,0.011957,0.058888

In [51]:
by_year[['SPX']].describe()

        SPX                                                              \
      count      mean       std       min       25%       50%       75%
2003  251.0  0.000859  0.010578 -0.035231 -0.006190  0.001261  0.007314
2004  252.0  0.000366  0.006988 -0.016320 -0.004056  0.000636  0.004670
2005  252.0  0.000138  0.006478 -0.016720 -0.004379  0.000559  0.004299
2006  251.0  0.000529  0.006315 -0.018326 -0.003377  0.000983  0.003665
2007  251.0  0.000189  0.010070 -0.034725 -0.003412  0.000809  0.005747
2008  253.0 -0.001587  0.025811 -0.090350 -0.012686  0.000000  0.007948
2009  252.0  0.000983  0.017188 -0.052816 -0.008082  0.001871  0.009779
2010  252.0  0.000542  0.011372 -0.038976 -0.004256  0.000799  0.006009
2011  199.0 -0.000033  0.014163 -0.066634 -0.006327  0.000947  0.006825


           max
2003  0.035427
2004  0.016365
2005  0.019736
2006  0.021565
2007  0.029208
2008  0.115800
2009  0.070758
2010  0.043974
2011  0.047407

In [52]:
#if rets=rets=close_px.pct_change() but not close_px.pct_change().dropna(),
#will trigger an error here due to NaN value...
by_year.apply(regress, 'AAPL', ['SPX'])

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514